<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test Page</title>
        <style>
            * {
                box-sizing: border-box;
            }
            .row {
                display: flex;
            }
            .column {
                flex: 50%;
                padding: 5px;
            }
            .centered_image {
                display: block;
                margin: auto;
            }
        </style>
        <script type="text/javascript">
            window.onload = init;
            function init() {
                if (window.Event) {
                    document.captureEvents(Event.MOUSEMOVE);
                }
                document.onmousemove = getCursorXY;
            }
            
            function getCursorXY(e) {
                document.getElementById('cursorX').innerHTML = (window.Event) ? e.pageX : event.clientX + (document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft);
                document.getElementById('cursorY').innerHTML = (window.Event) ? e.pageY : event.clientY + (document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop);
            }
            </script>
    </head>
    <body>
        <h1 style="text-align: center;">Test Page</h1>
        <p style="text-align: center;">Your IP is {{client_IP}}</p>
        <!-- https://www.dev-notes.com/blog/2008/07/30/get-current-mouse-cursor-position-with-javascript/ -->
        <p style="text-align: center;">Your mouse cursor is at (<span id="cursorX"> </span>, <span id="cursorY"> </span>)</p>
        <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, obcaecati. Labore eius porro, adipisci blanditiis similique, rem ullam minima sed dolore iste ad illo voluptates amet fugiat ipsam nulla praesentium.</p>
        <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, obcaecati. Labore eius porro, adipisci blanditiis similique, rem ullam minima sed dolore iste ad illo voluptates amet fugiat ipsam nulla praesentium.</p>
        <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, obcaecati. Labore eius porro, adipisci blanditiis similique, rem ullam minima sed dolore iste ad illo voluptates amet fugiat ipsam nulla praesentium.</p>
        <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, obcaecati. Labore eius porro, adipisci blanditiis similique, rem ullam minima sed dolore iste ad illo voluptates amet fugiat ipsam nulla praesentium.</p>
        <div class="row">
            <div class="column">
                <img style="width: 28%;" class="centered_image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/320px-Flag_of_the_Republic_of_China.svg.png" alt="">
            </div>
            <div class="column">
                <img style="width: 35.5%;" class="centered_image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/320px-Flag_of_the_United_States.svg.png" alt="">
            </div>
        </div>
    </body>
</html>